<div class="wrapper">
    <div class="main-body">
      <a href="#/about"><div class="row about section">
        <h3 id="abo">About&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="abo-arrow">>></span></h3>
      </div></a>

      <a href="#/publications"><div class="row publications section">
            <h3 id="abo">Publications&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="abo-arrow">>></span></h3>
        </div></a>

        <a href="http://isahauntedhouse.tumblr.com" target="_blank"><div class="row blog section">
            <h3 id="abo">Blog&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="abo-arrow">>></span></h3>
        </div></a>

        <a href="#/contact"><div class="row contact section">
            <h3 id="abo">Contact&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="abo-arrow">>></span></h3>
        </div></a>
    </div>

    <div class="clear" />

</div>