<div class="wrapper">
  <div class="main-body">
    <div class="row">
        <div ng-include="'../app/partials/navBar.html'"></div>
        <div class="col-md-8 content">
          	<p><a href="http://nbhap.com" target="_blank">Nothing But Hope and Passion</a></p>
			<p><a href="http://whitewallmag.com" target="_blank">Whitewall Magazine</a></p>
			<p><a href="http://dontpaniconline.com/london" target="_blank">Don’t Panic</a></p>
			<p><a href="http://www.pyragraph.com" target="_blank">Pyragraph</a></p>
			<p><a href="http://www.killerrr.com" target="_blank">Killerrr</a></p>
			<p><a href="http://www.localsuicide.com" target="_blank">Local Suicide</a></p>
			<p><a href="http://www.exberliner.com" target="_blank">EXBERLINER</a></p>
			<p><a href="http://www.artconnectberlin.com" target="_blank">Art Connect</a></p>
			<p><a href="http://www.deskmag.com" target="_blank">Deskmag</a></p>
			<p><a href="http://traveller.easyjet.com/" target="_blank">EasyJet</a></p>
      </div>
    </div>
  </div>
</div>
