<div class="wrapper">
  <div class="main-body">
    <div class="row">
      <div class="col-md-3">
          <a href="#/about"><div class="row about section selected">
              <h3 id="abo">About&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="abo-arrow">>></span></h3>
          </div></a>

          <a href="#/publications"><div class="row publications section">
              <h3 id="abo">Publications&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="abo-arrow">>></span></h3>
          </div></a>

          <a href="http://isahauntedhouse.tumblr.com" target="_blank"><div class="row blog section">
              <h3 id="abo">Blog&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="abo-arrow">>></span></h3>
          </div></a>

          <a href="#/contact"><div class="row contact section">
              <h3 id="abo">Contact&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="abo-arrow">>></span></h3>
          </div></a>
        </div>

        <div class="col-md-8 content">
          	<p><a href="http://nbhap.com" target="_blank">Nothing But Hope and Passion</a></p>
			<p><a href="http://whitewallmag.com" target="_blank">Whitewall Magazine</a></p>
			<p><a href="http://dontpaniconline.com/london" target="_blank">Don’t Panic</a></p>
			<p><a href="http://www.pyragraph.com" target="_blank">Pyragraph</a></p>
			<p><a href="http://www.killerrr.com" target="_blank">Killerrr</a></p>
			<p><a href="http://www.localsuicide.com" target="_blank">Local Suicide</a></p>
			<p><a href="http://www.exberliner.com" target="_blank">EXBERLINER</a></p>
			<p><a href="http://www.artconnectberlin.com" target="_blank">Art Connect</a></p>
			<p><a href="http://www.deskmag.com" target="_blank">Deskmag</a></p>
			<p><a href="http://traveller.easyjet.com/" target="_blank">EasyJet</a></p>
      </div>
    </div>
  </div>

 <div class="clear" />

</div>
