<div class="wrapper">
  <header class="main-header">
    <div class="logo">amanda gray</div>
    <!-- <nav class="main-nav">
      <ul class="list-horizontal">
        <li class="active">About</li>
        <li>Publications</li>
        <li>Blog</li>
        <li>Contact</li>
      </ul>
    </nav> -->
  </header>
  <section class="main-body">
    <ul class="main-nav">
      <li class="about">
        <div class="container">
          <h2>About</h2>
        </div>
      </li>
      <li class="publications">
        <div class="container">
          <h2>Publications</h2>
        </div>
      </li>
      <li class="blog">
        <div class="container">
          <h2>Blog</h2>
        </div>
      </li>
      <li class="contact">
        <div class="container">
          <h2>Contact</h2>
        </div>
      </li>
    </ul>
  </section>
</div>
<footer class="footer-main">
  <div class="footer-text">© 2014 amanda gray</div>
</footer>