* {
    padding: 0;
    margin: 0;
    border: 0;
}

@font-face {
  font-family: brandon-grotesque-regular;
  src: url(../fonts/Brandon_Grotesque/Brandon_reg.otf);
}

@font-face {
font-family: brandon-grotesque-regular;
src: url(../fonts/Brandon_Grotesque/Brandon_bld.otf);
font-weight:bold;
}

.ng-scope {
  background: black;
}

html, body {
  font-size: 118%;
  height:100%;
  background: #000;
  margin: none;
  font-family: josefin-slab;
  line-height: 1.4;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
  min-height: 100%;
}

/* header */
.main-header {
  width: 100%;
  height: 67px;
  background-color: black;
/*  border-bottom: 2px solid #eee2d4;
*/}

header .logo {
  padding: 15px;
  font-size: 25px;
  color: #fc518b;
  float: left;
  font-family: brandon-grotesque-regular;
}

header .logo:hover {
  color: yellow;
}

/* main nav */
.main-nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.main-nav a {
  text-decoration: none;
  color: black;
}

.main-nav a:hover {
  color: yellow;
}

.container {
  margin: 0 auto;
  width: 96%;
}

.main-nav li {
  padding: 20px 0;
  border-bottom: 2px solid black;
}

.about {
  background: #eee2d4;
  border-top: 2px solid black;
}

.publications {
  background-color: #ee6be2;
}

.blog {
  background-color: #fc518b;
}

.contact {
  background-color: #7ee9cd;
}

.main-nav h3 {
  font-family: brandon-grotesque-regular;
  margin: 0;
  cursor: pointer;
}

#pub-arrow, #abo-arrow, #con-arrow, #blo-arrow {
  display: none;
}

#pub:hover #pub-arrow {
  display: inline-block;
}

#abo:hover #abo-arrow {
  display: inline-block;
}

#con:hover #con-arrow {
  display: inline-block;
}

#blo:hover #blo-arrow {
  display: inline-block;
}

/* footer */
.footer-main {
  width: 100%;
  height: 67px;
  clear: both;
  background-color: black;
/*  border-top: 2px solid #eee2d4;
*/}

.footer-text {
  font-size: 16px;
  color: #fc518b;
  padding: 22px;
  float: right;
  font-family: brandon-grotesque-regular;
}

.footer-text:hover {
  color: yellow;
}
